  <div id="slider" class="animation"></div>
      <div id="sub-slider" class="animation">
        <div id="shadow" class="animation">
          <div class="content" class="animation">
            <h1>Ducking Dinner</h1>
            <h5>Where Every Bite is a Masterpiece</h5>
            <p>
              Welcome to "Ducking Restaurant" where culinary artistry meets the
              heart of HCM City.
            </p>
            <p>
              Indulge in an exquisite fusion of French, Italian flavors and
              Manhattan sophistication.
            </p>
            <p>
              Our culinary journey promises to transport you to the romantic
              streets of France & Italy.
            </p>
            <button><i>See more</i></button>
          </div>
        </div>
      </div>
      <div id="main-content" class="animation">
        <div id="section" class="animation">
          <div id="menu" class="member-items" class="animation">
            <h1 class="animation">See our menu</h1>
            <!-- <img src="./access/img/menu.jpg" alt="" /> -->
            <a href="/thuc-don" name="q"><button><i>Click here</i></button></a>
          </div>
          <div id="reservation" class="member-items" class="animation">
            <h1 class="animation">Make your reservation</h1>
            <!-- <img src="./access/img/reservation.jpg" alt="" /> -->
            <a href="/dat-ban"><button><i>Click here</i></button></a>
          </div>
        </div>
      </div>
      <div class="big-ctn">
        <div class="comment">
          <div id="container">
            <div id="slider-wrapper">
              <button
                id="prev-slide"
                class="slide-button material-symbols-outlined"
              >
                chevron_left
              </button>
              <div id="image-list">
                <img class="image-item" src="/img/img/imageList/1.jpg" alt="không gian nhà hàng">
                <img class="image-item" src="/img/img/imageList/2.jpg" alt="không gian nhà hàng">
                <img class="image-item" src="/img/img/imageList/3.jpg" alt="không gian nhà hàng">
                <img class="image-item" src="/img/img/imageList/4.jpg" alt="không gian nhà hàng">
                <img class="image-item" src="/img/img/imageList/5.jpg" alt="không gian nhà hàng">
                <img class="image-item" src="/img/img/imageList/6.jpg" alt="không gian nhà hàng">
                <img class="image-item" src="/img/img/imageList/7.jpg" alt="không gian nhà hàng">
                <button
                id="next-slide"
                class="slide-button material-symbols-outlined"
              >
                chevron_right
              </button>
            </div>
            <div class="slider-scrollbar">
              <div class="scrollbar-track">
                <div class="scrollbar-thumb"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="feedback-fill">
          <h4>Please give our Restaurant your feedback</h4>
          <div id="fill-fb">
            <div class="input">
              <input type="text" name="name" placeholder="Your name" />
              <textarea
                type="text"
                name="feedbackContent"
                placeholder="Your feed back"
                rows="5"
                cols="50"
              ></textarea>
            </div>
            <div>
              <button id="addFb" name="q">Add feedback</button>
            </div>
          </div>
        </div>
      </div>
      </div>