<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minh Duck</title>
    <link rel="stylesheet" href="/icon/themify-icons-font/themify-icons/themify-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://unpkg.com/react@18/umd/react.development.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"
      crossorigin
    ></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/thuc-don.css">
</head>
<body>
    {{> header}}
    {{{body}}}  <!--render ra giao dien o file nay + body cua trang-chu.hbs hoac tin-tuc.hbs-->
    {{> footer}}
</body>
<script>
    //start animation
const animation = document.querySelectorAll('.animation')

const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
        console.log(entries)
        const { target } = entry;
        target.classList.toggle('active', entry.isIntersecting)
    })
},{})

animation.forEach(ani => {
    observer.observe(ani)
});
//end animation



const initSlider = () =>{
    const imageList = document.querySelector("#slider-wrapper #image-list")
    const slideButtons = document.querySelectorAll("#slider-wrapper .slide-button")
    const maxScrollLeft = imageList.scrollWidth - imageList.clientWidth;
    const sliderScrollbar = document.querySelector("#container .slider-scrollbar")
    const scrollbarThumb = sliderScrollbar.querySelector(".scrollbar-thumb")


    scrollbarThumb.addEventListener("mousedown", (e) => {
        const startX = e.clientX;
        const thumbPosition = scrollbarThumb.offsetLeft;
        
        const handleMouseMove = (e) => {
            const deltaX = e.clientX - startX;
            const newThumbPosition = thumbPosition + deltaX; 
            const maxThumbPosition = sliderScrollbar.getBoundingClientRect().width - scrollbarThumb.offsetWidth; 

            const boundedPosition = Math.max(0, Math.min(maxThumbPosition,newThumbPosition))
            const scrollPosition = (boundedPosition / maxThumbPosition) * maxScrollLeft;

            scrollbarThumb.style.left = `${boundedPosition}px`

            imageList.scrollLeft = scrollPosition;
        }

        //remove event listeners on mouse up
        const handleMouseUp = () => {
            document.removeEventListener("mousemove", handleMouseMove)
            document.removeEventListener("mouseup", handleMouseUp)
        }

        // add event listeners for drag interaction
        document.addEventListener("mousemove", handleMouseMove)
        document.addEventListener("mouseup", handleMouseUp)

    })



    slideButtons.forEach(button => {
        button.addEventListener("click", () => {
            const direction = button.id === "prev-slide" ? -1 : 1;
            const scrollAmount = imageList.clientWidth * direction;
            imageList.scrollBy({ left: scrollAmount, behavior: "smooth"});
        })
    })
//kéo hết qua tría thì nút biến mất và tương tự bên phải
    const handleSlideButtons = () => {
        slideButtons[0].style.display = imageList.scrollLeft <= 0 ? "none" : "block";
        slideButtons[1].style.display = imageList.scrollLeft >= maxScrollLeft ? "none" : "block";   // bug kéo chưa hết đã mất nút
    }


    // update scrollbar thumb position based on image scroll
    const updateScrollThumbPosition = () => {
        const scrollPosition = imageList.scrollLeft;
        const thumbPosition = (scrollPosition / maxScrollLeft) * (sliderScrollbar.clientWidth - scrollbarThumb.offsetWidth);
        scrollbarThumb.style.left = `${thumbPosition}px`;
    }

    imageList.addEventListener("scroll", () => {
        handleSlideButtons();
        updateScrollThumbPosition();
    })
}

window.addEventListener("load",initSlider);

//end scroll feedback




//start CRUD feedback
var getURL = 'http://localhost:3000/feedBack'

function start() {
    getFeedBacks(renderFeedback)
    handleCreateFeedbacks()
}

start()

    //function
function getFeedBacks(callback) {
    fetch(getURL)
        .then((response) => {
            return response.json()
        })
        .then(callback)
}

    //create
function createFeedback(data, callback){
    var options = {
        method: "POST",
        headers: {
            'content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    }
    fetch(getURL, options)
        .then((response) => {
            response.json()
        })
        .then(callback)
}

    //end create

    //render
    function renderFeedback(feedbacks){
        var listFb = document.querySelector('#image-list')
        var htmls = feedbacks.map((feedback) => {
            console.log(typeof feedback.id);
            return `
                <div class="feedback">
                    <div class="name">${feedback.name}</div>
                    <hr>
                    <div class="opinion">${feedback.feedBack}</div>
                    <button onclick="handleDeleteFeedback('${feedback.id}')">&times; xóa</button>
                </div>
            `
        })
        // listFb.innerHTML = htmls.join('')    // hiển thị ra giao diện
    }
    // end render

    //add
    function handleCreateFeedbacks(){
        var createBtn = document.getElementById('addFb')

        createBtn.onclick = function() {
            var name = document.querySelector('input[name="name"]').value
            var feedBack = document.querySelector('textarea[name="feedbackContent"]').value


            var formData = {
                name: name,
                feedBack: feedBack
            }

            createFeedback(formData, () => {
                getFeedBacks(renderFeedback)
            })
        }


        createBtn.addEventListener("click", () => {
            var name = document.querySelector('input[name="name"]').value.trim()
            var feedBack = document.querySelector('textarea[name="feedbackContent"]').value.trim()

        if(name === '' || feedBack === ''){
            alert("please type something !")
        }
        else{
            alert("thank you for your feedback")
        }
        })
    }
    //end add

    //delete
    function handleDeleteFeedback(id){
        var options = {
            method: 'DELETE',
            headers: {
                'content-Type': 'application/json'
            },
        }
        fetch(getURL + '/' + id, options)
            .then((response) => {
                response.json()
            })
            .then(()=>{
                getFeedBacks(renderFeedback)
            })
    }
    //end delete

//edit

//end edit
//end CRUD feedback
</script>
</html>

