<hr>
      <div id="footer">
        <div id="footer-container">
          <div class="footer-section">
            <img src="/img/img/logoDeleteBackground.png" alt="logoBrand">
            <div class="icon">
              <a target="_blank" href="https://www.facebook.com/profile.php?id=100039366143850"><i class="ti-facebook"></i></a>
              <a target="_blank" href="https://www.instagram.com/mahp_hnim_duc/"><i class="ti-instagram"></i></a>
              <a target="_blank" href="#" title="Duck không có Twitter"><i class="ti-twitter-alt"></i></a>
            </div>
          </div>
          <div class="footer-section">
            <div class="fs-header">Ducking Restaurant</div>
            <div class="fs-main1">
              <h4>Văn phòng tại Hà Nội</h4>
              <p>Địa chỉ: số 123, đường Hoàng Hoa Thám. phường Liễu Giai. quận Ba Đình, Hà Nội</p>
              <p>Hotline: 0903087003</p>
              <p>Email: minhduc5116@gmail.com</p>
            </div>
            <div class="fs-main2">
              <h4>Chi nhánh tại Đà Nẵng</h4>
              <p>Địa chỉ: số 345, đường Hai Bà Trưng. phường Sơn Kì. quận Hải Châu, Thành Phố Đã Nẵng</p>
              <p>Hotline: 0903087003</p>
              <p>Email: minhduc5116@gmail.com</p>
            </div>
            <div class="fs-main3">
              <h4>Chi nhánh tại thành phố Hồ Chí Minh</h4>
              <p>Địa chỉ: 20/25, đường Tân Quý, phường Tân Quý. quận Tân Phú, Thành Phố Hồ Chí Minh</p>
              <p>Hotline: 0903087003</p>
              <p>Email: minhduc5116@gmail.com</p>
            </div>
            <div class="fs-footer">
              <p><i>Giấy phép đăng kí số 1318723 của sở Kế Hoạch và Đầu Tư TP.HCM cấp ngày 14/11/2003. <br>Website được đăng kí tại cục Thương Mại Điện Tử và Công Nghệ Thông Tin của bộ Công Thương.</i></p>
            </div>
          </div>
        </div>
      </div>
    </div>