<div id="main">
      <div id="header">
        <img id="logo" src="/img/img/logoDeleteBackground.png" alt="" />
        <ul id="nav">
          <li><a href="/trang-chu">Ducking Dinner</a></li>
          <li><a href="#1">About us</a></li>
          <li><a href="/thuc-don"><button>Menu</button></a></li>
          <li><a href="/dat-ban"><button>Reservation</button></a></li>
        </ul>
      </div>